doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title I2C basics

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article.language-c

			section
				h1 I2C basics

			section
				h2 Why?

			section
				h2.bullet I2C: your new best friend
				h3.bullet I2C lets you more precisely control motors and servos
				h3.bullet It also lets you do PID, no strings attached
				h3.bullet You essentially get precise motor motion for free.

			section
				h2.bullet How?
				h3.bullet Through the HiTechnic Motor Controller.
				h3.bullet You know, that little black box between your motor and your NXT.
				img.bullet(src='images/motorcontroller.png')

			section
				h2 What?

			section
				h2 How?

			section
				h2 Syntax Highlighting
				h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
				pre
					code.language-javascript.
						bespoke.from('article', {
							keys: true,
							touch: true,
							hash: true,
							state: true,
							bullets: 'li, .bullet'
						});

		script(src='build/build.js')
